body {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
}

.container {
  margin: 10% auto;
  width: 50%;
  min-height: 400px;
  border: 2px solid #88c0ff;
  -webkit-box-shadow: 11px 10px 8px 0px rgba(34, 60, 80, 0.36);
  -moz-box-shadow: 11px 10px 8px 0px rgba(34, 60, 80, 0.36);
  box-shadow: 11px 10px 8px 0px rgba(34, 60, 80, 0.36);
}

.container-input {
  margin: 0 auto;
}

#user-text {
  width: 70%;
  height: 40px;
}

form {
  padding: 5%;
  border-bottom: 1px solid black;
}

#submit {
  font-weight: 700;
  height: 30px;
  color: white;
  text-decoration: none;
  padding: 1%;
  border-radius: 3px;
  background: rgb(64, 199, 129);
  border: none;
}

#submit:hover {
  background: rgb(2, 175, 86);
}

ul li {
  list-style-type: none;
}

ul li img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.emoji {
  padding: 5%;
  display: flex;
  height: 100px;
  overflow-y: scroll;
}
